{{!-- {{#if (controlVista puesto)}}
<a href="/Estadisticas"><button style="width: 250px" class="section-button" data-section="1" value="Estadisticas" id="Estadisticas" onclick="cambiarVista(section1,Estadisticas)">Estaditicas</button></a>
<a href="/Clientes"><button style="width: 250px" class="section-button" data-section="5" value="Clientes" id="Clientes" onclick="cambiarVista(section5,Clientes)">Clientes</button></a>
<a href="/Usuarios"><button style="width: 250px" class="section-button" data-section="3" value="Usuarios" id="Usuarios" onclick="cambiarVista(section3,Usuarios)">Usarios</button></a>
<a href="/Pedidos"><button style="width: 250px" class="section-button" data-section="4" value="Pedidos" id="Pedidos" onclick="cambiarVista(section4,Pedidos)">Pedidos</button></a>
<a href="/Productos"><button style="width: 250px" class="section-button" data-section="2" value="Productos" id="Productos" onclick="cambiarVista(section2,Productos)">Productos</button></a>
{{else}}
<a href="/Pedidos"><button style="width: 250px" class="section-button" data-section="4" value="Pedidos" id="Pedidos" onclick="cambiarVista(section4,Pedidos)">Pedidos</button></a>
<a href="/Productos"><button style="width: 250px" class="section-button" data-section="2" value="Productos" id="Productos" onclick="cambiarVista(section2,Productos)">Productos</button></a>
{{/if}} --}}


