<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sweetalert2.min.css">

    <title>Codigo de recuperación</title>
</head>

<body id="inicioS">
        

</body>
</html><div class="contenedor">
        <div class="barras">
<header>
         <button class="btnCasa"><i class="fa fa-home"></i></button>
        
    </header> </div>
        <div class="Fondo">
          {{!-- <div class="logos">                
            <img src="/sitio/assets/img/Tamaulipas.png" alt="Imagen 2"class="tamlogo">
            <img src="/sitio/assets/img/Escudo.png" alt="Imagen 1" class="escudologo">
          </div> --}}



    <section id="sectI">
        <h1 id="hS">Introduce tu codigo de recuperación</h1>
        <p>Escriba el codigo que se le envio al correo:</p> 
        <label id = "correo">{{correo}}</label>
        <form>
            <input class="Inse" id="codigoRecuperacion" placeholder="Codigo de recuperación" autocomplete="off" maxlength="4" required>
            
            <button class="boton-F" id="verifCod" type="submit">Verificar código</button>
            <button class="boton-F" id="botonRc" type="button">Reenviar código</button>        
        </form>
    </section>

    <script src="/js/codigo_recuperacion.js"></script> 
    <script src="/js/btn_casa.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>

    </div>
    </div>    
    <div class="barras"></div>