<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/sweetalert2.min.css">

    <title>Contraseña Olvidada</title>
</head>

<body id="inicioS">
        
    <div class="contenedor">
        <div class="barras"><header>
         <button class="btnCasa"><i class="fa fa-home"></i></button>
        
    </header> </div>
        <div class="Fondo">
          <div class="logos">                
            <img src="/sitio/assets/img/Tamaulipas.png" alt="Imagen 2"class="tamlogo">
            <img src="/sitio/assets/img/Escudo.png" alt="Imagen 1" class="escudologo">
          </div>


	
    <section id="sectI">

        <h1 id="hS">Introduce tu correo electrónico</h1>
        <p>Se le enviará un correo con un código para recuperar su contraseña.</p>
        <form>
            <input class="Inse" type="email" id="correoDestino" placeholder="Correo electrónico" autocomplete="off" required>
            <div class="centrar">
            <button class="boton-F" id="boton" type="submit">Enviar correo</button>        
        </div>
        </form>

    </section>

    </div>
    </div>    
    <div class="barras"></div>
</body>
    <script src="/js/recuperar_contraseña.js"></script> 
    <script src="/js/btn_casa.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
</html>