 <footer>
        <div class="footer-container">
            <div class="contact">
                <h3>Contacto</h3>
                <p>Si tienes alguna pregunta, ¡no dudes en contactarnos!</p>
                <a href="mailto:ayudagob@gmail.com">ayudagob@gmail.com</a>
            </div>
            <div class="social-media">
                <h3>Redes: </h3>
                <a href="https://www.facebook.com/gobmexico/" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/gobiernomx" class="social-icon"><i class="fab fa-twitter"></i></a>
                
                <a href="https://www.instagram.com/gobmexico/" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
            {{!-- <div class="con">
          <p>Queremos conocer tu opinion: </p>
          <a href="/enviar-opinion">Click aquí para enviarnos tu opinión</a>
          </div> --}}
        </div>
    </footer>