<div id="Navbar">
    <div class="divMenu">
        <svg fill="#134B89" width="44px" height="44px" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <style>
                    .cls-1 {
                        fill: none;
                    }
                </style>
            </defs>
            <title>menu</title>
            <rect x="4" y="24" width="24" height="2.25" />
            <rect x="4" y="8" width="24" height="2.25" />
            <rect x="4" y="16" width="24" height="2.25" />
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32"
                height="32" />
        </svg>
    </div>
    <div class="divProfile">
        <div class="ProfilePic">
            <!-- LR -->
            <img src="/images/LicFoto.png" alt="">
        </div>
        <svg fill="#134B89" version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" width="24" height="24">
            <style type="text/css">
                .st0 {
                    fill: none;
                }
            </style>
            <polygon points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 " style="stroke:#134B89;" />
            <rect id="_x3C_Transparent_Rectangle_x3E_" class="st0" width="32" height="32" />
        </svg>
    </div>
</div>