<header>     

        <div class="header-container">
        
<button class="btnCasa"><i class="fa fa-home"></i></button>          {{!-- <img data-v-27b47ae7="" src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" alt="logo gobierno de méxico" class="logos" style="width: 8rem; margin-top: -2%; margin-bottom: -2%; margin-left: -15%;"> --}}
      <ul class="navigation">
      

     
    {{!-- <div class="bod">
      <ul>
        <li><i class="fas fa-arrow-alt-circle-right"></i> Subir Documentos
          <ul>
      </ul>
    </div> --}}
    {{!-- <div class="bod">
      <ul>
        <li><i class="fas fa-arrow-alt-circle-right"></i> Videojuegos
          <ul>
            <li><a class="filtro" data-filtro="Todos" data-filtro-p="videojuegos">Todos</a></li>
            <li><a class="filtro" data-filtro="Xbox" data-filtro-p="videojuegos" >Xbox</a></li>
            <li><a class="filtro" data-filtro="Nintendo" data-filtro-p="videojuegos" >Nintendo</a></li>
            <li><a class="filtro" data-filtro="Playstation" data-filtro-p="videojuegos" >PlayStation</a></li>
            <li><a class="filtro" data-filtro="terror" data-filtro-p="videojuegos" >Terror</a></li>
            <li><a class="filtro" data-filtro="accion" data-filtro-p="videojuegos">Accion</a></li>
            <li><a class="filtro" data-filtro="aventura" data-filtro-p="videojuegos" >Aventura</a></li>
            <li><a class="filtro" data-filtro="fantasia" data-filtro-p="videojuegos" >Fantasia</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><a href="/catalogo-productos"><i class="fas fa-arrow-alt-circle-right"></i>Todos los productos</a></li>
      </ul>
    </div> --}}
      {{!-- Categorias Fin --}}

        
      </ul>

      {{!-- Comienza la barra de busqueda 
      <div class="con">
        <div class="searchInput">
        <input type="text" id="buscar" placeholder="Buscar..." name="buscar" autocomplete="off"/>

         <div id="sugerencias" class="resultBox"></div>

         </div>
         </div> --}}
      {{!-- <div class="search-container">
            <input type="text" id="buscar" placeholder="Buscar..." autocomplete="off">
            <button id="search-button"><img src="/img/search-icon.jpg" alt="Buscar"></button>
        <div id="sugerencias">
        </div>
    </div> --}}
      {{!-- Termeina la barra de busqueda --}}

      {{!-- Comienza Carrito --}}

       {{!-- <div  class="icon-cart" style="float: left"><a href="/carrito">
       {{#if usuario}}
       {{#if (eq CANTIDAD_PRODUCTOS_CARRITO 0)}}
       {{else}}
       <div>
          <span id="cart-count">{{CANTIDAD_PRODUCTOS_CARRITO}}</span>
       </div>
       {{/if}}
       {{else}}
        
       {{/if}}
    <div class="cart-line-1" style="background-color: #ff6600"></div>
    <div class="cart-line-2" style="background-color: #ff6600"></div>
    <div class="cart-line-3" style="background-color: #ff6600"></div>
    <div class="cart-wheel" style="background-color: #ff6600"></div>
    </a>
  </div> --}}

    {{#if usuario}}
      <li ><a href="/Acta_Nacimiento">Acta de naciento</a></li>
      <li ><a href="/Com_Domici"></a>Comprobante de domicilio</li>
      <li ><a href="/Com_Estudios"></a>Comprobante grado maximo de estudios</li>
      <li ><a href="/CURP"></a>CURP</li>
      <li ><a href="/Fotos"></a>Fotografias</li>
      <li ><a href="/mi-cuenta">Mi cuenta</a></li>
      <li><a href="/cerrar-sesion">Cerrar sesión</a></li>
    {{else}}
      <li><a href="/iniciar-sesion">Iniciar Sesión</a></li>
      <li><a href="/crear-sesion">Crear Cuenta</a></li>
  {{/if}}


    {{!-- Acaba Carrito --}}

      </input>
      <div id="search-results"></div>
    </nav>
        </div>
        
    </header>
    <script src="../js/btn_casa.js"></script>