.boton{
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

  .inactive{
    display: none;
  }
  
  .img {
    border-color: black;
    border-style: solid;
    margin: 1%;
    padding: 1%;
    left: 50%;
   
  }
  
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .text {
  
      border-color: black ;
      border-style: dotted;
      border-width: 50%;
      
      top: 100px;
      left: 50%; 
  
  }
  
  #opt {
    background-color: white; 
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: smaller;
  }
  
  #optionImg{
    width: 60px;
    height: 50px;
  }
  
  /* Resetear estilos predeterminados del navegador */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  img {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el encabezado */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .header-container>li{
    list-style-type: none;
  }
  a{
    text-decoration: none;
  }
  a:visited{
    color: none;
  }
  .page-title {
    font-size: 1.5rem;
    color: #ff6600;
    text-align: center;
    margin: 0;
    flex-grow: 1;
  }
  
  /*  */
  .main-nav ul {
    list-style: none;
    display: flex;
  }
  
  .main-nav li {
    margin-right: 20px;
  }
  
  .main-nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
  .main-nav a:hover {
    color: #ff6600;
  }
  
  .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .product {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 250px;
    max-height: auto;
  }
  
  .product-img img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    padding: 20px;
    position: relative;
    top: 2px;
  }
  
  .product-details h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 1.1rem;
    color: #ff6600;
    font-weight: bold;
  }
  
  .add-to-cart,#eliminar_carrito {
    display: block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart:hover,#eliminar_carrito:hover {
    background-color: #e65c00;
  }
  
  .footer-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 110px;
  }
  
  .contact, .social-media {
    flex-basis: 50%;
  }
  
  .contact h3, .social-media h3 {
    margin-bottom: 10px;
  }
  
  .contact a {
    color: #ff6600;
  }
  
  .social-icon {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 10px;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #ff6600;
  }
  
  .con a{
    color: #ff6600;
  }
  
  /* Efecto de oscurecimiento del fondo al pasar el cursor sobre un producto */
  .product {
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
  }
  
  .product:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    filter: brightness(85%);
  }
  
  /* todo lo anterior era el index */
  
  /* apartir de aqui comienza formulario */

  #inicioS{

    font-family: 'Arial', sans-serif;
    background-color: #d65308;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }

  #sectI{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 350px;
  }

  

  #inicioS {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#sectI {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 350px;
}

#hS {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.Inse {
    text-align: center;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.Inse:focus {
    border-color: #fd6500;
}

.Inse::placeholder {
    color: #aaa;
}

.Inse:focus::placeholder {
    color: transparent;
}

#boton {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

#boton:hover {
    background-color: #0049e6;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #ff6600;
    text-decoration: none;
    font-weight: 600;
}

.verContraIS{
  position: absolute;
  left: 30%;
  top: 54.75%
}


/* Estilos de botones */
.btnCasa {
  background-color: DodgerBlue; 
  border: none; /* Remover bordes */
  color: white; /* Texto en blanco */
  padding: 16px 16px; 
  font-size: 16px; 
  cursor: pointer; 
}


.btnCasa:hover {
  background-color: RoyalBlue;
}

/* Boton de Mostrar contraseña */


.contenido {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.Text-checkbox {
  width: 50%;
}

#checkbox {
  width: 10%;
}

/* imagenes */

.img-p{
  height:auto;
  width:auto;
  object-fit: scale-down;
}

/* Cosas del header por parte de leonardo */

.inative{
  display: none;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Barra de busqueda */

#buscar{
  padding: 10px;
  border-radius: 10px;
}

input[type=text] {
  width: 100%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
  width: 85%;
}

.barraBusqueda{
  display: list-item;
}

/* Termina */

.navigation {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation li a {
  color: rgb(252, 0, 0);
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff0000;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner {
  background-image: url('banner-image.jpg');
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

.cta-button {
  background-color: #ff6600;
  color: #fff;
  padding: 5px 6px;
  text-decoration: none;
  border-radius: 5px;
}

/* Categorias inicio */

.bod li{
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

  margin-left: -20px;
  margin-top: 0px;
  color: #ff6600;
  list-style: none;
  display: block;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

li:hover{
  transition: 1s all;
  color: #cc15fa;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}

.bod > li{
  float: left;
}





.bod li ul{
  background: #fcffff;
  margin-left: 80px;
  margin-top: -3px;
  display: none;
  position: absolute;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 3px 3px;
}

.bod li:hover > ul{
  display: block;
  cursor: pointer;
}



/* Carrito */

/*Sugerencias inicio*/
#sugerencias li{
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

  margin-left: -20px;
  margin-top: 0px;
  color: #ff6600;
  list-style: none;
  display: block;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}
.search-container {
  position: relative;
  width: 200px; /* Ancho de la barra de búsqueda */
}
li:hover{
  transition: 1s all;
  color: #cc15fa;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}

#sugerencias > li{
  float: left;
}

#sugerencias li> ul{
  background: #fcffff;
  margin-left: 80px;
  margin-top: -3px;
  display: none;
  position: absolute;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 3px 3px;
}

#sugerencias li:hover > ul{
  display: block;
  cursor: pointer;
}
#sugerencias li a {
  text-decoration: none;
  color: #333;
  display: block;
}
.container-suggestions li a:hover {
  background-color: #f0f0f0;
}
#search-button{
  background-color:transparent;
    border: none;
    cursor: pointer;
    top: 0;
    right: 0;
}
#search-button img {
  width: 16px;
  height: 16px;
}
/*Sugerencias*/

.icon-cart {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  margin-left: 25px;
  margin-bottom: 25px;
}

.icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg); 
  background-color: #000;
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg); 
  background-color: #000;
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg); 
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg); 
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 33%;
  top: 45%;
  background-color: #000;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}

.msjCV{
  position: absolute;
  text-size-adjust: 110%;
  text-align: center;
}

#pCode {
  font-size: small;
}
/* MI CUENTA NO MOVER HASTA QUE ESTE COMENTARIO DESAPAREZCA */

.contenedor{
  max-width: 800px;
}

.sectMi{
  margin-bottom: 10px;
  
}

#botonCon,#botonCan {
  background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 6px;
    font-size: 12px;
    cursor: pointer;
    width: 30%;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#botonCon:hover,#botonCan:hover  {
  background-color: #0049e6;
}

#DatosPersonales{
  text-align: center;
}

#ActualizacionDatos{
  text-align: center;
}

#DobleAtenticacion{
  text-align: center;
}

#BorrarCuenta{
  text-align: center;
}

.divBoton{
  border: #fcffff;
  
}

.boton{
  background-color: #ff6600; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.boton:hover {
  background-color: #000000;
  
}

.botonCodigoV{
  background-color: #ff6600; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.botonCodigoV:hover {
  background-color: #000000;
  
}

/*paginación*/
.paginacion {
	margin:20px 0;
  margin-top:auto ;
}

.paginacion  {
	list-style:none;
	text-align: center;
}

.paginacion  li {
	display:inline-block;
	margin-right:10px;
}

.paginacion  li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration: none;
}
.pagina{
  background-color: orange;
}

.paginacion  li a:hover {
	background:black;
}

.paginacion  li .active {
	background:#037E8C;
	font-weight:bold;
}
/* h1 chido */

#animate-charter{
  text-decoration: none;
  text-transform: uppercase;
background-image: linear-gradient(
  -225deg,
  #000000 0%,
  #000000 29%,
  #fa4f00 67%,
  #ff9900 100%
);
text-decoration: none;
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
display: inline-block;
    font-size: 40px;
}

@keyframes textclip {
to {
  background-position: 200% center;
}
}

/* fin h1 */

/* mejoras de botones */

.button-85 {
  margin-top:12px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(255, 102, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 103, 2);
  background: rgb(248, 120, 0);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-85:hover{
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  background-color: #ffffff;
  
}

/* h1 */
#animate-charter{
  text-transform: uppercase;
background-image: linear-gradient(
  -225deg,
  #000000 0%,
  #000000 29%,
  #f30000 67%,
  #ff9900 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
display: inline-block;
    font-size: 40px;
    display: block;
    margin-top: 10px;
    padding: 8px 15px;
}

@keyframes textclip {
to {
  background-position: 200% center;
}
}
/* h1 fin */

/* boton formulario */

.boton-F {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(255, 102, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.boton-F:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-boton-F {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.boton-F:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.boton-F:hover{
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  background-color: #ffffff;
  
}

/* Formulario de carrito */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.contene{
  position: relative;
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
}
.contene .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contene form{
  padding: 30px 0 0 0;
}
.contene form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #fd6500;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #ff7b00;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scale(1);
}

/* termina? */

/* poner en el centro las cosas */

.centro{
  text-align: center;
}

.centrarBtn{
  text-align: center;
}

.cen{
  display: flex;
  justify-content: center;
}

/* Info de un producto */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
} 
.wrappen_block {
  position: relative;
  width: 100%;
  height: 100%;
}

 .productCard_block {
  position: relative;
  margin: 190px auto 0;
  max-width: 800px;
  min-height: 600px;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}   

/* LEFT SIDE */
.productCard_leftSide {
  position: relative;
  width: 100%;
  min-height: 600px;
} */

 .productCard_brendBlock {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 184px;
  max-height: 75px;
  background-color: #272727;
  z-index: 2;
}

.sliderBlock {
  position: relative;
  height: 100%;
  margin-left: 70px;
  margin-top: 4px;
  margin-bottom: 46px;
  overflow: hidden;
}

.sliderBlock_items {
  position: relative;
  display: block;
  width: 100%;
  height: 403px;
}
.sliderBlock_items__itemPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.sliderBlock_items__showing {
  opacity: 1;
  z-index: 3;
} 
.sliderBlock_items:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}

.sliderBlock_controls {
  width: 80%;
  margin-top: 100px;
}
.sliderBlock_controls__navigatin {
  margin-top: 8px;
  width: 100%;
}
.sliderBlock_controls__wrapper {
  margin: 1% auto;
  width: 210px;
  height: 20px;
}
.sliderBlock_controls__arrow {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #536dfe;
  background-color: #0d2660;
  border-radius: 50%;
}
.sliderBlock_controls__arrow:hover {
  background-color: #536dfe;
}
.sliderBlock_controls__arrow i {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  margin-top: -50%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.sliderBlock_controls__arrowBackward {
  float: left;
}
.sliderBlock_controls__arrowForward {
  float: right;
}

.sliderBlock_positionControls {
  display: block;
  width: 110px;
  height: 3px;
  margin: 30px auto 0;
}
.sliderBlock_positionControls__paginatorItem {
  float: left;
  width: 18px;
  height: 10px;
  margin-left: 5px;
  background-color: #d7d7d7;
  cursor: pointer;
}
.sliderBlock_positionControls__paginatorItem:first-child {
  margin-left: 31%;
}
.sliderBlock_positionControls__active {
  background-color: #536dfe;
}

/*   RIGHT SIDE */
.productCard_rightSide {
  position: relative;
  padding-top: 34px;
  padding-left: 27px;
  padding-right: 40px;
  width: 100%;
  min-height: 600px;
}

.block_specification {
  float: right;
  margin-top: 8px;
  cursor: pointer;
  color: #536dfe;
}
.block_specification__button {
  display: inline-block;
  margin-right: 7px;
  height: 100%;
  font-size: 17px;

}

.block_specification:hover {
  color: #f1425d;
}

.block_specification__text {
  width: 30px;
  height: 11px;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: 600;

}

.block_model {
  display: inline-block;
  color: #263238;
  font-size: 12px;
  opacity: 0.9;
}

.block_name {
  width: 100%;
  color: #263238;
  font-weight: 400;
  line-height: 35px;
}
.block_name__mainName {
  margin: 0;
  padding: 0;
  font-size: 29px;
}
.block_name__addName {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.block_product {
  position: relative;
  width: 100%;
}
.block_product__advantagesProduct {
  width: 271px;
  height: 41px;
  margin-top: 14px;
  color: #646b6f;
  font-size: 17px;
  line-height: 24px;
}
.block_product__link {
  line-height: 23px;
  color: #536dfe;
}

.block_informationAboutDevice {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.block_descriptionInformation {
  width: 304px;
  height: 104px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #263238;
}

.block_descriptionCharacteristic {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 30;
  transition: left, ease-out, 0.5s;
}
.block_descriptionCharacteristic__active {
  left: 0;
}

@keyframes moveCharackeristic {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
.block_specificationInformation_table {
  position: relative;
  height: 90%;
  background-color: #fff;
}
.block_specificationInformation_table tr {
  border-collapse: collapse;
  border: 1px solid #000;
}
.block_specificationInformation_table th {
  border: 1px solid #000;
  font-weight: bold;
}
.block_specificationInformation_table td {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #000;
}

.block_price {
  margin-top: 29px;
  width: 100%;
}
.block_price__currency {
  padding: 0;
  margin: 0;
  vertical-align: top;
  color: #f1425d;
  font-size: 26px;
  font-weight: 600;
}
.block_price__shipping {
  padding: 0;
  margin: 0;
  color: #a2a9ad;
  font-size: 12px;
}

.radio_button {
  position: absolute;
  opacity: 0;
}

.block_goodColor {
  margin-top: 29px;
  width: 100%;
}
.block_goodColor__allColors {
  width: 100%;
  margin-top: 14px;
}
.block_goodColor__radio {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-left: 10% !important;
  background-color: #e8e6e3;
  cursor: pointer;
}

.radio_button:checked + .block_goodColor__radio {
  width: 25px;
  height: 25px;
  box-shadow: 0 0 5px 3px rgba(83, 109, 254, 0.5);
  border: 2px solid #fff;
}

.block_goodColor__black {
  background-color: #3c383a;
}

.block_goodColor__silver {
  background-color: silver;
}

.block_quantity {
  position: relative;
  height: 46px;
  margin-top: 50px;
}
.block_quantity button {
  display: inline-block;
  float: left;
  margin-top: 21px;
}
.block_quantity__chooseBlock {
  vertical-align: top;
  height: 100%;
  margin: 0;
  padding: 0;
}
.block_quantity__number {
  display: inline-block;
  float: left;
  height: 46px;
  border: 1px solid #ddd;
  font-size: 18px;
  text-align: center;
}

.block_quantity__chooseBlock button{
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-right: 23px;
}

/* botones de mas y menos */

.mas {
  background: hsl(340deg 100% 32%);
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  will-change: transform;
  transition: transform 250ms;
}

.mas:hover .front{
  transform: translateY(-6px);
}

.mas:active .front {
  transform: translateY(-2px);
}

.menos {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.menos:hover .front{
  transform: translateY(-6px);
}

.menos:active .front {
  transform: translateY(-2px);
}

/* boton en forma de x */

.tacha{
  text-align: right;
}

.tacha-x {
  display: inline-block;
  width: 40px;
  height: 50px;
  border: 7px solid #f56b00;
  cursor: pointer;
  background:
      linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
      linear-gradient(135deg, #f56b00 0%,#f56b00 43%,#fff 45%,#fff 55%,#f56b00 57%,#f56b00 100%);
}

/* Estilo para el contenedor del alerta */
.alert {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Estilo para el texto del alerta */
.alert-text {
  color: #333;
  font-weight: bold;
}

/* Estilo para el botón de cierre del alerta */
.close-button {
  float: right;
  cursor: pointer;
  color: #999;
}

.close-button:hover {
  color: #333;
}

 /* Estilos para los botones */
 .divBoton {
  margin-bottom: 10px;
}

.boton {
  width: 250px;
  padding: 10px;
  background-color: #ff7300;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: left;
}

.boton:hover {
  background-color: #000000;
  color: #e8e6e3;
}

.listaBotones {
  list-style-type: none;
  padding: 0;
}

.listaBotones li {
  margin-bottom: 10px;
}

/* Estilos para el contenido */
.contenido {
  display: none;
  padding: 40px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contenido p {
  margin-bottom: 10px;
}

.contenido label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contenido input[type="text"],
.contenido input[type="email"],
.contenido input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contenido button {
  background-color: #ff5100;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.contenido button:hover {
  background-color: #000000;
  color: #f7f7f7;
}

.btnAct{
  background-color: #b60707;
  color: rgb(255, 255, 255);
}

/* imagenes productos */

.img-s{
  text-align: center;
  margin-top: 25px;
  margin-left: 72px;
  width: 65%;
  height: 65%;
}

#cart-count {
  background-color: #ff4400;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 5px;
}

#cuenta{
  list-style-type: none;
}
#cuenta > a{
  text-decoration: none;
}

.Fondo{
  flex: 1;
  background-color: #f5f5b8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}
.barras {
  background-color: #58771e;
  height: 55px;
}
.contenedor1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.logos {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 0;
} 
.tamlogo{
  height: 15vh;
  width: 20vw;
}
.escudologo{
height: 15vh;
width: auto;
}
.tablabienvenida{
  border:2px solid rgb(0, 0, 0);
  top: 120px;
  position: relative;
}
.login-box {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-box input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #58771e;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.top-images {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}   
.formlargo{
  position: absolute;
  top: 5px;
  justify-content: center;
  z-index: 2;
}
.container {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}
#guardarProducto {
  background-color: #28a745;
  font-weight: bold;
}
.btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}