<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>Código de verificación</title>
</head>

<body id="inicioS">

    <div class="contenedor1">
        <div class="barras"></div>
        <div class="Fondo">
          <div class="logos">                
            <img src="/img/Tamaulipas.png" alt="Imagen 2"class="tamlogo">
            <img src="/img/Escudo.png" alt="Imagen 1" class="escudologo">
          </div>
       <section id="sectI">

        <h1 id="hS">Código de verificación</h1>

        <input id="codiV" type="text" class='Inse' required placeholder=" - - - - " maxlength="4">

        <button id='boton' class="AceptarCodigo">Enviar respuesta</button>

        <p id="pCode">Se envio un código a su correo </p>
    
    </section>

    <script src="/js/btn_codiV.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
    </div>    
    <div class="barras"></div>
    
</body>

</html>