<!DOCTYPE html>
<html>
<head>
    <title>CURP</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
</head>
<body class="vi">
  <header>
         <button class="btnCasa"><i class="fa fa-home"></i></button>
        
    </header>

    <div id="imagenContainer" class="container">
        <label style="color: green;"  for="imagenInput" id="agregarImagenLabel">Agregar Imagen *</label>

        <input style="color: blue;" type="file" id="i2" accept="image/*" name="images">

    </div>


            
        <button type="button" id="guardarProducto" class="btn">Guardar</button>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/btn_casa.js"></script>
</html>
