<!DOCTYPE html>
<html>
<head>
    <title>Fotos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
</head>
<body class="vi">
    <div class="contenedor1">
        <div class="barras"><header><button class="btnCasa"><i class="fa fa-home"></i></button></header></div>
        <div class="Fondo">
          <div class="logos">                
            <img src="/img/Tamaulipas.png" alt="Imagen 2"class="tamlogo">
            <img src="/img/Escudo.png" alt="Imagen 1" class="escudologo">
          </div>

    <form id="form" name="fotos">
        <div id="imagenContainer" class="container">
            <label style="color: green;"  for="imagenInput" id="agregarImagenLabel">Agregar Archivo *</label>
            <input style="color: blue;" type="file" id="i2" accept="application/pdf" name="documento">
        </div>
        
        <button type="button" id="guardarProducto" class="btn">Guardar</button>
    </form>

    </div>    
    <div class="barras"></div>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/btn_casa.js"></script>
<script src="../js/archivos/envio_archivos.js"></script>
<script src="../js/sweetalert2.min.js"></script>
</html>
