<!DOCTYPE html>
<html>
<head>
  <title>Mi cuenta</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css">
 
</head>
<body>
  {{>header}}
  <div class="divBoton">
    <ul class="listaBotones">
      <li><button class="boton" data-target="DatosPersonales">
          <h3>Datos personales</h3>
        </button></li>
      <li><button class="boton" data-target="ActualizacionDatos">
          <h3>Actualización de datos personales</h3>
        </button></li>
      <li><button class="boton" data-target="DobleAtenticacion">
          <h3>Activa/Desactiva doble autenticación</h3>
        </button></li>
      <li><button class="boton" data-target="BorrarCuenta">
          <h3>Borrar cuenta</h3>
        </button></li>
    </ul>
  </div>

  <div id="DatosPersonales" class="contenido">
    {{#each cliente_cuenta}}
    <h2>Datos personales</h2>
    <p><strong>Nombre:</strong> {{NOMBRE_CLI}}</p>
    <p><strong>Correo:</strong> {{CORREO_CLI}}</p>
    {{/each}}
  </div>

  <div id="ActualizacionDatos" class="contenido">
    <h2>Actualización de datos personales</h2>
    <form>
      {{#each cliente_cuenta}}
      <label for="contraseñaActual">Contraseña actual:</label>
      <input type="password" id="contraseñaActual" name="contraseñaActual">
      <label for="nuevaContrasena">Nueva contraseña:</label>
      <input type="password" id="nuevaContrasena" name="nuevaContraUS" maxlength="8" autocomplete="off" value="">
      <label for="nuevoNombre">Nuevo nombre:</label>
      <input type="text" id="nuevoNombre" name="nuevoNombre" value="{{NOMBRE_CLI}}">
      <label for="nuevoCorreo" >Nuevo correo:</label>
      <input type="email" id="nuevoCorreo" name="nuevoCorreo" value="{{CORREO_CLI}}">
      <button class="boton" id="botonC" onclick="nuevosDatos()">Actualizar</button>
      {{/each}}
    </form>
  </div>
  <form>
    <div id="DobleAtenticacion" class="contenido">
      <h2>Activa/Desactiva doble autenticación</h2>
      <input type="radio" id="activarDobleAutenticacion" name='dobleAutenticacion' value="activo">
      <label for="activarDobleAutenticacion">Activar doble autenticación</label>
      <br><input type="radio" id="desactivarDobleAutenticacion" name='dobleAutenticacion' value="noActivo">
      <label for="desactivarDobleAutenticacion">Desactivar doble autenticación</label>
      <button class="boton" onclick="manejarDobleAutenticacion()">Enviar</button>
    </div>
  </form>
  <div id="BorrarCuenta" class="contenido">
    <h2>Borrar cuenta</h2>
    <p>¿Estás seguro de que deseas borrar tu cuenta?</p>
    <button class="boton" id="botonCon">Sí, borrar</button>
    <button class="boton" id="botonCan">Cancelar</button>
  </div>
</body>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/filtros.js"></script>
<script src="/js/miCuenta.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/barraBusqueda.js"></script>
</html>