<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/sitio/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contraseña Olvidada</title>
</head>

<body id="inicioS">
    
    <div class="contenedor1">
        <div class="barras"><header><button class="btnCasa"><i class="fa fa-home"></i></button></header></div>
        <div class="Fondo">
          <div class="logos">                
            <img src="/sitio/assets/img/Tamaulipas.png" alt="Imagen 2"class="tamlogo">
            <img src="/sitio/assets/img/Escudo.png" alt="Imagen 1" class="escudologo">
          </div>

    <section id="sectI">
        <h1 id="hS">Introduce tu correo electrónico, en unos momentos te llegara un correo electrónico con tu contraseña</h1>
        <form>
            <input class="Inse" type="email" id="correoDestino" placeholder="Correo electrónico" autocomplete="off" required>
            <button id="boton" type="submit">Enviar</button> 

            <button id="correoR" class="button-85">¡Presioname para volver a enviar el correo!</button>     
        </form>
    </section>
        
    </div>    
    <div class="barras"></div>

    <script src="/js/correos.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
</body>
</html>